body {
    background: white;
    border: 0;
    margin: 0;
}

h3 {
    font-family: 'Cairo', sans-serif;
    font-weight: 800px;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 165, 0);
    text-shadow: 2px 0px 2px orangered;

}

.card {
    border: none;
    float: right;
    background-color: white;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 29px;
    box-shadow: 1px 1px 10px silver;
    border-radius: 4em;
}

.card img {
    width: 100%;
    height: 200px;

}

main {
    width: 80%;
    box-shadow: 1px 1px 10px silver;
}

.btn_delete {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 16px;
    border-radius: 5em;
    background-color: tomato;

}

.btn_edit {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 15px;
    border-radius: 5em;
    background-color: orange;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    word-spacing: 3px;
    font-family: 'Cairo', sans-serif;
}

.card-text {
    font-size: 20px;
    font-weight: 500px;
    padding-bottom: 10px;
    font-family: 'Cairo', sans-serif;


}

::selection {
    color: orangered;
    background-color: beige;
}

.btn_delete:hover {
    background-color: #ff0000;

    transition: 1.9s ease;
}

.btn_edit:hover {
    background-color: #ff6a00;
    transition: 1.9s ease;
}

.previous {
    position: absolute;
    margin-top: -88px;
    width: 53px;
    padding: 5px;
    /* border-radius: 30px; */
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    /* background: linear-gradient(to right, #ff3a00, #f2a65a); */
    background-color: silver;
    color: black;
    text-decoration: none;
}

#prodh {
    background-color: silver;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    width: auto;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 20px;
    /* padding: 10px 200px; */
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    text-align: center;
}